body {
}

.images {
    width: 600px;
    margin: 0 auto;
    overflow: hidden;
}

.images a {
    margin: 0;
    padding: 0;
    display: block;
    font-size: 0;
    opacity: 0;
    position: relative;
    top: 0;
    left: 0;
}
