<!DOCTYPE html>

<html lang="en" ng-app="app" id="ng-app">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="css/style.css"/>
    <title></title>
</head>
<body ng-controller="baseController">
<button ng-click="addToModel()">Добавить</button>
<div class="images" ng-like-google model="images" methods="methods">
    <a href="#" ng-repeat="image in images" ng-google-last>
        <img class="like" ng-google-item ng-click="image.remove()" src="{{image.src}}" alt=""/>
    </a>
</div>
<hr/>

<div class="images" ng-like-google model="images2">
    <a href="#" ng-repeat="image in images2" ng-google-last>
        <img class="like" ng-google-item src="{{image.src}}" alt="" />
    </a>
</div>
<script src="js/libs/angular/angular.min.js"></script>
<script src="js/likegoogle/likegoogle.js"></script>
<script src="js/main.js"></script>
</body>
</html>
